@import url("theme.css");

.wy-side-nav-search {
    z-index: 200;
    background-image: radial-gradient(ellipse farthest-corner at 20px 20px , #51575C 0%, #2D3136 60%, #111 95%);
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #FCFCFC;
    margin-bottom: 0.809em;
}